In [1]:
import numpy as np
import pandas as pd
import seaborn as sns
import calendar
import matplotlib.pyplot as plt
from collections import Counter

In [2]:
data = pd.read_csv('movie_bd_v5.csv.xls')
data.sample(5)

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year
1863,tt0219653,28000000,33000337,Dracula 2000,Gerard Butler|Christopher Plummer|Jonny Lee Mi...,Patrick Lussier,The Most Seductive Evil of All Time Has Now Be...,In the millenium version of this classic Gothi...,99,Horror|Thriller,Neo Art & Logic|Dimension Films|Wes Craven Films,12/22/2000,4.7,2000
250,tt0409459,130000000,185258983,Watchmen,Malin Ã…kerman|Billy Crudup|Carla Gugino|Jeffr...,Zack Snyder,Justice is coming to all of us. No matter wha...,In a gritty and alternate 1985 the glory days ...,162,Action|Mystery|Science Fiction,Paramount Pictures|DC Comics|Lawrence Gordon P...,3/5/2009,6.8,2009
42,tt3072482,10000000,14333790,Hardcore Henry,Sharlto Copley|Haley Bennett|Danila Kozlovskiy...,Ilya Naishuller,First they made him dangerous. Then they made ...,"Henry, a newly resurrected cyborg who must sav...",97,Action|Adventure|Science Fiction,Bazelevs Production|Versus Pictures,9/12/2015,5.9,2015
637,tt1068680,70000000,225990978,Yes Man,Jim Carrey|Zooey Deschanel|Rhys Darby|Sasha Al...,Peyton Reed,One Word Can Change Everything.,Carl Allen has stumbled across a way to shake ...,104,Comedy|Romance,The Zanuck Company|Heyday films|Warner Bros.,12/9/2008,6.3,2008
305,tt0433362,20000000,51416464,Daybreakers,Ethan Hawke|Sam Neill|Willem Dafoe|Claudia Kar...,Michael Spierig|Peter Spierig,"In 2019, The Most Precious Natural Resource......","In the year 2019, a plague has transformed alm...",98,Fantasy|Horror|Action|Thriller|Science Fiction,Lionsgate|Furst Films|Pictures in Paradise|Pac...,1/6/2009,5.9,2009

In [3]:
data.describe()

             budget       revenue      runtime  vote_average  release_year
count  1.889000e+03  1.889000e+03  1889.000000   1889.000000   1889.000000
mean   5.431083e+07  1.553653e+08   109.658549      6.140762   2007.860773
std    4.858721e+07  2.146698e+08    18.017041      0.764763      4.468841
min    5.000000e+06  2.033165e+06    63.000000      3.300000   2000.000000
25%    2.000000e+07  3.456058e+07    97.000000      5.600000   2004.000000
50%    3.800000e+07  8.361541e+07   107.000000      6.100000   2008.000000
75%    7.200000e+07  1.782626e+08   120.000000      6.600000   2012.000000
max    3.800000e+08  2.781506e+09   214.000000      8.100000   2015.000000

# Preprocessing

In [4]:
answers = {}  # dict for answers


def seasons_converter(month):
    """ converts a number to season """
    winter = [12, 1, 2]
    summer = [6, 7, 8]
    spring = [3, 4, 5]
    autumn = [9, 10, 11]

    if month in winter:
        return 'Winter'
    elif month in summer:
        return 'Summer'
    elif month in spring:
        return 'Spring'
    elif month in autumn:
        return 'Autumn'

    return ''


data['profit'] = data.apply(lambda row: row.revenue - row.budget, axis=1)
data['month'] = data.apply(
    lambda row: calendar.month_name[int(row.release_date.split('/')[0])], axis=1)
data['season'] = data.apply(lambda row: seasons_converter(
    int(row.release_date.split('/')[0])), axis=1)
data['name_length'] = data.apply(lambda row: len(row.original_title), axis=1)
data['overview_length'] = data.apply(
    lambda row: len(row.overview.split()), axis=1)

# 1. У какого фильма из списка самый большой бюджет?

In [5]:
answers['1'] = '5. Pirates of the Caribbean: On Stranger Tides (tt1298650)'

In [6]:
biggest_budget_movie = data[data.budget == data.budget.max()]

answer = "%s (%s)" % (str(biggest_budget_movie.original_title.item()), str(
    biggest_budget_movie.imdb_id.item()))

print(answer)

Pirates of the Caribbean: On Stranger Tides (tt1298650)

# 2. Какой из фильмов самый длительный (в минутах)?

In [7]:
answers['2'] = '2. Gods and Generals (tt0279111)'

In [8]:
longest_movie = data[data.runtime == data.runtime.max()]

answer = "%s (%s)" % (str(longest_movie.original_title.item()),
                      str(longest_movie.imdb_id.item()))

print(answer)

Gods and Generals (tt0279111)

# 3. Какой из фильмов самый короткий (в минутах)?

In [9]:
answers['3'] = '3. Winnie the Pooh (tt1449283)'

In [10]:
shortest_movie = data[data.runtime == data.runtime.min()]

answer = "%s (%s)" % (str(shortest_movie.original_title.item()),
                      str(shortest_movie.imdb_id.item()))

print(answer)

Winnie the Pooh (tt1449283)

# 4. Какова средняя длительность фильмов?

In [11]:
answers['4'] = '2. 110'

In [12]:
average_movie_length = data.runtime.mean()

print(round(average_movie_length))

110

# 5. Каково медианное значение длительности фильмов?

In [13]:
answers['5'] = '1. 107'

In [14]:
median_movie_length = data.runtime.median()

print(int(median_movie_length))

107

# 6. Какой самый прибыльный фильм?

In [15]:
answers['6'] = '5. Avatar (tt0499549)'

In [16]:
most_profitable_movie = data[data.profit == data.profit.max()]

answer = "%s (%s)" % (str(most_profitable_movie.original_title.item()), str(
    most_profitable_movie.imdb_id.item()))

print(answer)

Avatar (tt0499549)

# 7. Какой фильм самый убыточный?

In [17]:
answers['7'] = '5. The Lone Ranger (tt1210819)'

In [18]:
most_unprofitable_movie = data[data.profit == data.profit.min()]

answer = "%s (%s)" % (str(most_unprofitable_movie.original_title.item()), str(
    most_unprofitable_movie.imdb_id.item()))

print(answer)

The Lone Ranger (tt1210819)

# 8. У скольких фильмов из датасета объем сборов оказался выше бюджета?

In [19]:
answers['8'] = '1. 1478'

In [20]:
revenue_over_budget = data[data.revenue > data.budget]

answer = revenue_over_budget.shape[0]

print(answer)

1478

# 9. Какой фильм оказался самым кассовым в 2008 году?

In [21]:
answers['9'] = '4. The Dark Knight (tt0468569)'

In [22]:
movies_2008 = data[data.release_year == 2008]

highest_grossing_movie_2008 = movies_2008[movies_2008.revenue ==
                                          movies_2008.revenue.max()]

answer = "%s (%s)" % (str(highest_grossing_movie_2008.original_title.item()), str(
    highest_grossing_movie_2008.imdb_id.item()))

print(answer)

The Dark Knight (tt0468569)

# 10. Самый убыточный фильм за период с 2012 по 2014 г. (включительно)?

In [23]:
answers['10'] = '5. The Lone Ranger (tt1210819)'

In [24]:
movies_2012_2014 = data[(data.release_year >= 2012) &
                        (data.release_year <= 2014)]

most_unprof_movie_2012_2014 = movies_2012_2014[movies_2012_2014.profit ==
                                               movies_2012_2014.profit.min()]

answer = "%s (%s)" % (str(most_unprof_movie_2012_2014.original_title.item()), str(
    most_unprof_movie_2012_2014.imdb_id.item()))

print(answer)

The Lone Ranger (tt1210819)

# 11. Какого жанра фильмов больше всего?

In [25]:
answers['11'] = '3. Drama'

In [26]:
most_popular_genre = data.genres.str.split(
    '|', expand=True).stack().value_counts().index[0]

print(most_popular_genre)

Drama

# 12. Фильмы какого жанра чаще всего становятся прибыльными?

In [27]:
answers['12'] = '1. Drama'

In [28]:
profit_genres = pd.DataFrame(data={'genre': [], 'profit': []})

iters = 0
for i in data.genres.str.split('|', expand=True).stack().value_counts().index:
    temp = data[data.genres.str.contains(i)]
    profit_genres.loc[iters] = [i, temp[temp.profit > 0].shape[0]]
    iters += 1

max_profit_genre = profit_genres[profit_genres.profit ==
                                 profit_genres.profit.max()]

answer = max_profit_genre.genre.item()

print(answer)

Drama

# 13. У какого режиссера самые большие суммарные кассовые сборы?

In [29]:
answers['13'] = '5. Peter Jackson'

In [30]:
directors_revenue = pd.DataFrame(data={'director': [], 'revenue': []})

iters = 0
for director in data.director.str.split('|', expand=True).stack().value_counts().index:
    revenue = data[data.director.str.contains(director)].revenue.sum()
    directors_revenue.loc[iters] = [director, revenue]
    iters += 1

answer = directors_revenue[directors_revenue.revenue ==
                           directors_revenue.revenue.max()].director.item()

print(answer)

Peter Jackson

# 14. Какой режисер снял больше всего фильмов в стиле Action?

In [31]:
answers['14'] = '3. Robert Rodriguez'

In [32]:
directors_act_films = pd.DataFrame(data={'director': [], 'action_films': []})

iters = 0
for director in data.director.str.split('|', expand=True).stack().value_counts().index:
    temp = data[data.director.str.contains(director)]
    action_films = temp[temp.genres.str.contains('Action')].shape[0]
    directors_act_films.loc[iters] = [director, action_films]
    iters += 1

answer = directors_act_films[directors_act_films.action_films ==
                             directors_act_films.action_films.max()].director.item()

print(answer)

Robert Rodriguez

# 15. Фильмы с каким актером принесли самые высокие кассовые сборы в 2012 году?

In [33]:
answers['15'] = '3. Chris Hemsworth'

In [34]:
data_2012 = data[data.release_year == 2012]

actors_revenue = pd.DataFrame(data={'actor': [], 'revenue_2012': []})

iters = 0
for actor in data_2012.cast.str.split('|', expand=True).stack().value_counts().index:
    revenue = data_2012[data_2012.cast.str.contains(actor)].revenue.sum()
    actors_revenue.loc[iters] = [actor, revenue]
    iters += 1

answer = actors_revenue[actors_revenue.revenue_2012 ==
                        actors_revenue.revenue_2012.max()].actor.item()

print(answer)

Chris Hemsworth

# 16. Какой актер снялся в большем количестве высокобюджетных фильмов?

In [35]:
answers['16'] = '3. Matt Damon'

In [36]:
actors_bbmovies = pd.DataFrame(data={'actor': [], 'big_budget_movies': []})

mean_budget = data.budget.mean()

iters = 0
for actor in data.cast.str.split('|', expand=True).stack().value_counts().index:
    temp = data[data.cast.str.contains(actor)]
    movies = temp[temp.budget > mean_budget].shape[0]
    actors_bbmovies.loc[iters] = [actor, movies]
    iters += 1

answer = actors_bbmovies[actors_bbmovies.big_budget_movies ==
                         actors_bbmovies.big_budget_movies.max()].actor.item()

print(answer)

Matt Damon

# 17. В фильмах какого жанра больше всего снимался Nicolas Cage?

In [37]:
answers['17'] = '2. Action'

In [38]:
nic_cage_movies = data[data.cast.str.contains('Nicolas Cage')]

answer = nic_cage_movies.genres.str.split(
    '|', expand=True).stack().value_counts().index[0]

print(answer)

Action

# 18. Самый убыточный фильм от Paramount Pictures

In [39]:
answers['18'] = '1. K-19: The Widowmaker (tt0267626)'

In [40]:
paramount_pic_movies = data[data.production_companies.str.contains(
    'Paramount Pictures')]

most_unprof_movie = paramount_pic_movies[paramount_pic_movies.profit ==
                                         paramount_pic_movies.profit.min()]

answer = "%s (%s)" % (str(most_unprof_movie.original_title.item()),
                      str(most_unprof_movie.imdb_id.item()))

print(answer)

K-19: The Widowmaker (tt0267626)

# 19. Какой год стал самым успешным по суммарным кассовым сборам?

In [41]:
answers['19'] = '5. 2015'

In [42]:
revenue_years = pd.DataFrame(data={'release_year': [], 'sum_revenue': []})

iters = 0
for year in data.release_year.value_counts().index:
    revenue = data[data.release_year == year].revenue.sum()
    revenue_years.loc[iters] = [str(year), revenue]
    iters += 1

answer = revenue_years[revenue_years.sum_revenue ==
                       revenue_years.sum_revenue.max()].release_year.item()

print(answer)

2015

# 20. Какой самый прибыльный год для студии Warner Bros?

In [43]:
answers['20'] = '1. 2014'

In [44]:
warner_bros_movies = data[data.production_companies.str.contains(
    'Warner Bros')]

warner_bros_movies

profit_years = pd.DataFrame(data={'release_year': [], 'profit': []})

iters = 0
for year in warner_bros_movies.release_year.value_counts().index:
    profit = warner_bros_movies[warner_bros_movies.release_year == year].profit.sum()
    profit_years.loc[iters] = [str(year), profit]
    iters += 1

answer = profit_years[profit_years.profit ==
                      profit_years.profit.max()].release_year.item()

print(answer)

2014

# 21. В каком месяце за все годы суммарно вышло больше всего фильмов?

In [45]:
answers['21'] = '4. Сентябрь'

In [46]:
answer = data.month.value_counts().index[0]

print(answer)

September

# 22. Сколько суммарно вышло фильмов летом? (за июнь, июль, август)

In [47]:
answers['22'] = '2. 450'

In [48]:
summer_movies = data[data.season == 'Summer']
answer = summer_movies.shape[0]

print(answer)

450

# 23. Для какого режиссера зима – самое продуктивное время года?

In [49]:
answers['23'] = '5. Peter Jackson'

In [50]:
winter_movies = data[data.season == 'Winter']

answer = winter_movies.director.str.split(
    '|', expand=True).stack().value_counts().index[0]

print(answer)

Peter Jackson

# 24. Какая студия дает самые длинные названия своим фильмам по количеству символов?

In [51]:
answers['24'] = '5. Four By Two Productions'

In [61]:
name_lengths = pd.DataFrame(data={'companie': [], 'max_name_length': []})

iters = 0
for company in data.production_companies.str.split('|', expand=True).stack().value_counts().index:
    max_lenght = data[data.production_companies.str.contains(
        company)].name_length.max()
    name_lengths.loc[iters] = [company, max_lenght]
    iters += 1

answer = list(name_lengths[name_lengths.max_name_length ==
                           name_lengths.max_name_length.max()].companie)

print(answer)

/Users/aallavi/opt/anaconda3/lib/python3.7/site-packages/pandas/core/strings.py:1952: UserWarning: This pattern has match groups. To actually get the groups, use str.extract.
  return func(self, *args, **kwargs)

['Twentieth Century Fox Film Corporation', 'Four By Two Productions', 'Twentieth Century Fox']

# 25. Описание фильмов какой студии в среднем самые длинные по количеству слов?

In [53]:
answers['25'] = '3. Midnight Picture Show'

In [54]:
overview_length = pd.DataFrame(
    data={'companie': [], 'mean_overview_length': []})

# overview_length

iters = 0
for company in data.production_companies.str.split('|', expand=True).stack().value_counts().index:
    mean_overview_length = data[data.production_companies.str.contains(
        company)].overview_length.mean()
    overview_length.loc[iters] = [company, mean_overview_length]
    iters += 1

overview_length[overview_length.mean_overview_length ==
                overview_length.mean_overview_length.max()]

answer = "%s" % (overview_length[overview_length.mean_overview_length ==
                                 overview_length.mean_overview_length.max()].companie.item())

print(answer)

Midnight Picture Show

# 26. Какие фильмы входят в 1 процент лучших по рейтингу?

In [55]:
answers['26'] = '1. Inside Out, The Dark Knight, 12 Years a Slave'

In [56]:
data.vote_average.value_counts(normalize=True, bins=16).reset_index()

for i in range(1, 100):
    df = data.vote_average.value_counts(normalize=True, bins=i)
    if int(round(df[df.index.max()] * 100)) == 1:
        break

left = df.index.max().left
right = df.index.max().right

answer = list(data[(data.vote_average > left) & (
    data.vote_average <= right)].original_title)

print(answer)

['Inside Out', 'Spotlight', 'Room', 'Interstellar', 'Guardians of the Galaxy', 'Big Hero 6', 'The Imitation Game', 'Gone Girl', 'The Grand Budapest Hotel', 'The Theory of Everything', 'The Fault in Our Stars', 'Mr. Nobody', '3 Idiots', 'Inception', 'The Lord of the Rings: The Fellowship of the Ring', 'The Dark Knight', 'The Lord of the Rings: The Two Towers', 'The Pianist', 'The Lord of the Rings: The Return of the King', 'The Wolf of Wall Street', 'Her', '12 Years a Slave', 'Prisoners', 'Dallas Buyers Club', 'The Prestige', 'Eternal Sunshine of the Spotless Mind', 'There Will Be Blood', 'Memento']

# 27. Какие актеры чаще всего снимаются в одном фильме вместе?

In [57]:
answers['27'] = '5. Daniel Radcliffe & Rupert Grint'

In [58]:
df = data.cast.str.split('|')

dic = {}

for lst in df:
    for i in range(len(lst)):
        for j in range(len(lst)):
            if (lst[i] + ' & ' + lst[j] in dic.keys()):
                dic[lst[i] + ' & ' + lst[j]] += 1
            elif (lst[i] != lst[j]) and not (lst[j] + ' & ' + lst[i]) in dic.keys():
                dic[lst[i] + ' & ' + lst[j]] = 1


act = pd.DataFrame(data={'couple': [], 'freq': []})
answer = max(dic, key=dic.get)

print(answer)

Daniel Radcliffe & Rupert Grint

# Submission

Answers to questions

In [59]:
answers

{'1': '5. Pirates of the Caribbean: On Stranger Tides (tt1298650)',
 '2': '2. Gods and Generals (tt0279111)',
 '3': '3. Winnie the Pooh (tt1449283)',
 '4': '2. 110',
 '5': '1. 107',
 '6': '5. Avatar (tt0499549)',
 '7': '5. The Lone Ranger (tt1210819)',
 '8': '1. 1478',
 '9': '4. The Dark Knight (tt0468569)',
 '10': '5. The Lone Ranger (tt1210819)',
 '11': '3. Drama',
 '12': '1. Drama',
 '13': '5. Peter Jackson',
 '14': '3. Robert Rodriguez',
 '15': '3. Chris Hemsworth',
 '16': '3. Matt Damon',
 '17': '2. Action',
 '18': '1. K-19: The Widowmaker (tt0267626)',
 '19': '5. 2015',
 '20': '1. 2014',
 '21': '4. Сентябрь',
 '22': '2. 450',
 '23': '5. Peter Jackson',
 '24': '5. Four By Two Productions',
 '25': '3. Midnight Picture Show',
 '26': '1. Inside Out, The Dark Knight, 12 Years a Slave',
 '27': '5. Daniel Radcliffe & Rupert Grint'}

In [60]:
len(answers)

27